<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %class{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="no.difi.vefa" level="INFO"/>
    <logger name="no.difi.vefa.validator.util.SaxonErrorListener" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>